[submodule "ryver-registry"]
	path = ryver-registry
	url = git@github.com:cs203t10-ryverbank/ryver-registry.git
	branch = master
[submodule "ryver-gateway"]
	path = ryver-gateway
	url = git@github.com:cs203t10-ryverbank/ryver-gateway.git
	branch = master
[submodule "ryver-auth"]
	path = ryver-auth
	url = git@github.com:cs203t10-ryverbank/ryver-auth.git
	branch = master
[submodule "ryver-fts"]
	path = ryver-fts
	url = git@github.com:cs203t10-ryverbank/ryver-fts.git
	branch = master
[submodule "ryver-cms"]
	path = ryver-cms
	url = git@github.com:cs203t10-ryverbank/ryver-cms.git
	branch = master
[submodule "ryver-market"]
	path = ryver-market
	url = git@github.com:cs203t10-ryverbank/ryver-market.git
	branch = master
